In [1]:
def validate_word(word):
    word_list=list(word)
    if len(word_list) % 2 !=0:
        return False
    keys=set(word_list)
    character_to_follow=list(keys)[0]
    values=[0 for item in list(keys)]
    word_dict=dict(zip(keys,values))

    for item in word_list:
        if item in word_dict.keys():
            word_dict[item]+=1
    
    for val in word_dict.values():
        if val != word_dict[character_to_follow]:
            return False
    
            
    return True

In [4]:
validate_word('qwwq')

True

In [3]:
import pandas as pd
df=pd.read_csv('sql_cmmd/q4Tobechecked.csv')
df.head(5)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [4]:
def function(x):
    if 'Crocodile' in x:
        if "Shark" in x:
            return True
    return False

In [7]:
q4=df['description'].apply(function)
df[q4].shape

(10, 13)

In [10]:
for item in df[q4]['description']:
    print(item)

A Fanciful Documentary of a Crocodile And a Technical Writer who must Fight a A Shark in A Baloon
A Unbelieveable Drama of a Crocodile And a Mad Cow who must Reach a Dentist in A Shark Tank
A Stunning Story of a Explorer And a Forensic Psychologist who must Face a Crocodile in A Shark Tank
A Brilliant Documentary of a Monkey And a Car who must Conquer a Crocodile in A Shark Tank
A Taut Story of a Waitress And a Crocodile who must Outrace a Lumberjack in A Shark Tank
A Astounding Character Study of a A Shark And a A Shark who must Discover a Crocodile in The Outback
A Fast-Paced Story of a Crocodile And a A Shark who must Sink a Pioneer in Berlin
A Fast-Paced Tale of a A Shark And a Student who must Meet a Crocodile in Ancient China
A Taut Saga of a Crocodile And a Boat who must Conquer a Hunter in A Shark Tank
A Astounding Yarn of a Pioneer And a Crocodile who must Defeat a A Shark in The Outback