In [18]:
import pymongo
from pymongo import MongoClient
from pymongo import collection

In [19]:

# client = pymongo.MongoClient("mongodb+srv://root:<root>@cluster0.zypqq.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
# # db = client.test



connection=("mongodb+srv://root:root@cluster0.zypqq.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

cluster=MongoClient(connection)
db = cluster["demo"]
collection = db['students']

In [20]:
d1={"ID":1,"name":"Sonali","email":"sonali@gmail.com"}
collection.insert_one(d1)

In [21]:
d2={"ID":1,"name":"Sonali","email":"sonali@gmail.com"}
d3={"ID":1,"name":"Sonali","email":"sonali@gmail.com"}

collection.insert_many([d2,d3])

In [ ]:
#Printing out all the names from the database records 
#result = collection.find()
#for res in result:
#    print(res["name"])

result = collection.find({'name':'Sonali'})
for res in result:
    print(res["ID"])

In [22]:
import mysql.connector
#create a connection to server

cnx = mysql.connector.connect(user='root', password='Zahra2019$',
                              host='127.0.0.1',
                              )
# cnx.close()

In [23]:
# 2 creating  a database called lab_server
mycursor = cnx.cursor()
mycursor.execute("CREATE DATABASE lab_server")

In [24]:
#printing out all databases in the server

mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)

('childcaremanagementsystem',)
('information_schema',)
('lab_server',)
('mysql',)
('performance_schema',)
('sakila',)
('studentapp',)

In [25]:
cnx.close()

In [91]:
#4 creating connection the lab_server database
mydb = mysql.connector.connect(user='root', password='Zahra2019$',
                              host='127.0.0.1', database='lab_server'
                              )

In [92]:
# mycursor = mydb.cursor()

In [29]:
# 5. Creates a TABLE called STUDENTS. The TABLE should have the
# following Columns. 
# An INT as the PRIMARY KEY called id that AUTO INCRIMENTS, a
# VARCHAR(255) as FIRST_NAME, and an INT as AVG_GRADE.


TABLES = {}
TABLES['students'] = (
    "CREATE TABLE `students` ("
    "  `id` int(11) NOT NULL AUTO_INCREMENT,"
    "  `first_name` varchar(255) NOT NULL,"
    "  `avg_grade` int ,"
    "  PRIMARY KEY (`id`)"
    ") ENGINE=InnoDB")

In [30]:
mycursor = mydb.cursor()
mycursor.execute(TABLES['students'])

In [31]:
# 6 Print all tables in our Schema
mycursor.execute('show tables')
for table in mycursor:
    print(table)

('students',)

In [32]:
# 7. Fill the table with Dummy Data. Names don't have to be unique. Pass
# 0s as the AVG_GRADE for now.
add_student = ("INSERT INTO students "
               "(first_name, avg_grade) "
               "VALUES ( %s, %s)")
data_student= ('mustapha', 0)
# Insert new student
mycursor.execute(add_student, data_student)
# stud_no = mycursor.lastrowid
mydb.commit()

In [33]:
# need to install this library in order to play with dummy data
!pip install Faker
from faker import Faker

Collecting Faker
  Downloading Faker-9.8.2-py3-none-any.whl (1.2 MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\python\python385\lib\site-packages (from Faker) (2.8.2)
Collecting text-unidecode==1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: six>=1.5 in c:\python\python385\lib\site-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: text-unidecode, Faker
Successfully installed Faker-9.8.2 text-unidecode-1.3

In [41]:
# Creating fake data
import pandas as pd
import random
from random import randrange
from datetime import datetime
nr_of_students = 100
fake = Faker('de_DE')
students = []
for student_id in range(nr_of_students):
    #create student's name
    name = fake.name()
    #create student's avg_grade
    # avg_grade=fake.random.randint(70,100)
    students.append((name,0))
print(students)

[('Gabriel Dowerg-Fechner', 0), ('Ing. Paula Steckel', 0), ('Ivo Söding', 0), ('Univ.Prof. Denise Stolze B.Eng.', 0), ('Prof. Lucia Dobes MBA.', 0), ('Cord Stey-Wohlgemut', 0), ('Herr Hans-Martin Holt', 0), ('Sergej Conradi', 0), ('Bernward Kühnert', 0), ('Friedo Meister-Seidel', 0), ('Hubertus Schlosser B.Eng.', 0), ('Helene Heintze B.A.', 0), ('Christos Hartmann', 0), ('Dipl.-Ing. Arnold Holt', 0), ('Heike Schäfer B.Sc.', 0), ('Holger Heuser-Dörschner', 0), ('Walfried Wilms', 0), ('Ing. George Kuhl', 0), ('Ing. Hermann Josef Wulf B.A.', 0), ('Oscar Rosemann', 0), ('Harold Löchel', 0), ('Heinz-Peter Rust', 0), ('Frau Wilhelmine Rosemann MBA.', 0), ('Dr. Aneta Putz', 0), ('Prof. Eduard Gnatz B.Sc.', 0), ('Hannelore Pieper', 0), ('Karl-Jürgen Reinhardt B.A.', 0), ('Evangelia Weinhage-Schulz', 0), ('Bela Nohlmans-Ullrich', 0), ('Stanislaus Stumpf MBA.', 0), ('Inka Rohleder-Trommler', 0), ('Mark Hein', 0), ('Arndt Dobes', 0), ('Geza Fischer', 0), ('Roderich Finke', 0), ('Malgorzata Koch', 0), ('Astrid Kade', 0), ('Kornelia Rogner-Peukert', 0), ('Ayse Schleich', 0), ('Rosita Keudel', 0), ('Canan Johann', 0), ('Aysel Berger-Zirme', 0), ('Knut Neureuther', 0), ('Piotr Pölitz', 0), ('Hans Junck', 0), ('Dr. Sigismund Boucsein', 0), ('Dr. Leopold Stahr', 0), ('Dr. Sieglinde Eberhardt', 0), ('Kreszenz Stolze', 0), ('Vanessa Börner', 0), ('Univ.Prof. Riza Henck MBA.', 0), ('Anne-Katrin Krebs', 0), ('Oswald Seip', 0), ('Alberto Fröhlich', 0), ('Agnieszka Mitschke B.A.', 0), ('Dipl.-Ing. Heinz-Josef Etzler', 0), ('Liane Bachmann-Klemt', 0), ('Hiltraud Fischer', 0), ('Univ.Prof. Lydia Mälzer B.Sc.', 0), ('Heini Gierschner', 0), ('Friedericke Döhn-Linke', 0), ('Zita Mude-Fechner', 0), ('Robert Gieß', 0), ('Laila Rose', 0), ('Dipl.-Ing. Margret Dietz', 0), ('Janette Junitz-Finke', 0), ('Irma Ziegert MBA.', 0), ('Salih Staude', 0), ('Univ.Prof. Elena Hartmann', 0), ('Prof. Aenne Karge', 0), ('Helmar Rudolph', 0), ('André Freudenberger', 0), ('Martha Segebahn-Karz', 0), ('Stilla Peukert-Vollbrecht', 0), ('Geert Pohl MBA.', 0), ('Reza Jockel', 0), ('Ron Jüttner-Noack', 0), ('Carin Aumann', 0), ('Johannes Stolze', 0), ('Prof. Julius Beckmann', 0), ('Prof. Franz-Peter Adolph MBA.', 0), ('Dr. Curt Schaaf', 0), ('Egbert Flantz', 0), ('Eugenia Kobelt B.Eng.', 0), ('Dr. Sergei Metz', 0), ('Rena Seifert-Warmer', 0), ('Bruni Mitschke', 0), ('Univ.Prof. Marieluise Mangold B.A.', 0), ('Jenny Wohlgemut B.Sc.', 0), ('Pius Austermühle', 0), ('Gotthilf Krebs', 0), ('Sabine Aumann-Schleich', 0), ('Frau Iwona Mentzel B.Eng.', 0), ('Jolanda Weihmann', 0), ('Ing. Baptist Kobelt', 0), ('Mehmet Heidrich', 0), ('Rouven Bloch', 0), ('Eleonore Kohl', 0), ('Hannchen Hermann-Rust', 0), ('Herr Mikhail Weller B.A.', 0)]

In [42]:
# feeding this data into our table
data_student=students
for dt in data_student:
    mycursor.execute(add_student, dt)
# stud_no = mycursor.lastrowid
mydb.commit()

In [51]:
TABLES['student_grades'] = (
    "CREATE TABLE `student_grades` ("
    "  `student_id` int NOT NULL,"
    "  `assignment_num` int NOT NULL,"
    "  `assignment_grads` int NOT NULL,"
    "  `assignment_num_and_student_id` varchar(255) NOT NULL,"
    "  PRIMARY KEY (`assignment_num_and_student_id`)"
    ") ENGINE=InnoDB")

In [44]:
mycursor.execute(TABLES['student_grades'])

In [45]:
# check for the table if it exist or not
mycursor.execute('show tables')
for table in mycursor:
    print(table)

('student_grades',)
('students',)

In [ ]:
# 9. Add rows to the students_grades table. Every student should have 4
# assignments. Grades can be random. assignment_name_and_student_id 
# should be a string that combines the assignment number and student ID
# to make a unique key.
# ****BONUS*** MAKE A PROGRAM THAT CREATES THIS DUMMY DATA
# PROGRAMATICALLY INSTEAD OF YOU HAVING TO TYPE ALL THE DUMMY DATA OUT.

In [93]:
query = ("SELECT id FROM students ")
mycursor = mydb.cursor()
mycursor.execute(query)
for i in mycursor:
    print(i[0])

102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201

In [99]:

query = ("SELECT id FROM students ")

mycursor.execute(query)

assignment_num=[1,2,3,4]

add_student_assignment = ("INSERT INTO student_grades "
               "(student_id,assignment_num, assignment_grads,assignment_num_and_student_id) "
               "VALUES ( %s, %s, %s, %s)")

myresult = mycursor.fetchall()

for studentId in myresult:
  for assignment in assignment_num:
    assignment_grads=random.randint(56,100)
    key_table=str(assignment)+str(studentId[0])
    data_student=(studentId[0],assignment,assignment_grads,key_table)
    mycursor.execute(add_student_assignment, data_student)
mydb.commit()

In [105]:
query="SELECT student_id , avg(assignment_grads) from student_grades group by student_id"
mycursor.execute(query)
myresult = mycursor.fetchall()


for id, avg in myresult:
    sql = "UPDATE students SET avg_grade = %s  WHERE id = %s"
    val = (avg, id)
    mycursor.execute(sql, val)
mydb.commit()

In [78]:
mydb.close()