In [8]:
import mysql.connector #importing needed library

# getting connetion to host

#create a connection to server

cnx = mysql.connector.connect(user='root', password='I hide it $',
                              host='127.0.0.1',
                              )
# cnx.close()

In [9]:
# 2 creating  a cursor and a database called lab_server
mycursor = cnx.cursor()
mycursor.execute("CREATE DATABASE lab_server")

In [10]:
#printing out all databases in the server

mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)

('childcaremanagementsystem',)
('information_schema',)
('lab_server',)
('mysql',)
('performance_schema',)
('sakila',)
('studentapp',)

In [11]:
# better practice to close connection
cnx.close()

In [12]:
#4 creating connection the lab_server database
mydb = mysql.connector.connect(user='root', password='I hide it$$',
                              host='127.0.0.1', database='lab_server'
                              )

In [13]:
mycursor = mydb.cursor()

In [ ]:
# 5. Creates a TABLE called STUDENTS. The TABLE should have the
# following Columns. 
# An INT as the PRIMARY KEY called id that AUTO INCRIMENTS, a
# VARCHAR(255) as FIRST_NAME, and an INT as AVG_GRADE.


TABLES = {}
TABLES['students'] = (
    "CREATE TABLE `students` ("
    "  `id` int(11) NOT NULL AUTO_INCREMENT,"
    "  `first_name` varchar(255) NOT NULL,"
    "  `avg_grade` int ,"
    "  PRIMARY KEY (`id`)"
    ") ENGINE=InnoDB")

In [ ]:
mycursor.execute(TABLES['students'])

In [14]:
# 6 Print all tables in our Schema
mycursor.execute('show tables')
for table in mycursor:
    print(table)

('student_grades',)
('students',)

In [ ]:
# 7. Fill the table with Dummy Data. Names don't have to be unique. Pass
# 0s as the AVG_GRADE for now.
add_student = ("INSERT INTO students "
               "(first_name, avg_grade) "
               "VALUES ( %s, %s)")
data_student= ('mustapha', 0)
# Insert new student
mycursor.execute(add_student, data_student)
# stud_no = mycursor.lastrowid
mydb.commit()

In [ ]:
# need to install this library in order to play with dummy data
!pip install Faker
from faker import Faker

In [ ]:
# Creating fake data
import pandas as pd
import random
from random import randrange
from datetime import datetime
nr_of_students = 100
fake = Faker('de_DE')
students = []
for student_id in range(nr_of_students):
    #create student's name
    name = fake.name()
    #create student's avg_grade
    # avg_grade=fake.random.randint(70,100)
    students.append((name,0))
print(students)

In [ ]:
# feeding this data into our table
data_student=students
for dt in data_student:
    mycursor.execute(add_student, dt)
# stud_no = mycursor.lastrowid
mydb.commit()

In [ ]:
# 7. Creates a TABLE called student_grades that contains the columns student_id as an int,
# assignment_num as an int, assignment_grade as an int, and assignment_num_and_student_id as a VARCHAR(255) which should be the primary key.
TABLES['student_grades'] = (
    "CREATE TABLE `student_grades` ("
    "  `student_id` int NOT NULL,"
    "  `assignment_num` int NOT NULL,"
    "  `assignment_grads` int NOT NULL,"
    "  `assignment_num_and_student_id` varchar(255) NOT NULL,"
    "  PRIMARY KEY (`assignment_num_and_student_id`)"
    ") ENGINE=InnoDB")

In [ ]:
mycursor.execute(TABLES['student_grades'])

In [15]:
# 8 check for the table if it exist or not
mycursor.execute('show tables')
for table in mycursor:
    print(table)

('student_grades',)
('students',)

In [ ]:
# 9. Add rows to the students_grades table. Every student should have 4
# assignments. Grades can be random. assignment_name_and_student_id 
# should be a string that combines the assignment number and student ID
# to make a unique key.
# ****BONUS*** MAKE A PROGRAM THAT CREATES THIS DUMMY DATA
# PROGRAMATICALLY INSTEAD OF YOU HAVING TO TYPE ALL THE DUMMY DATA OUT.

In [ ]:
# for testing our code:
query = ("SELECT id FROM students ")
mycursor = mydb.cursor()
mycursor.execute(query)
for i in mycursor:
    print(i[0])

In [ ]:

# 10. Create a program that now goes through our students_grades table. IT should calculate the average for each of our students.
query = ("SELECT id FROM students ")

mycursor.execute(query)

assignment_num=[1,2,3,4]

add_student_assignment = ("INSERT INTO student_grades "
               "(student_id,assignment_num, assignment_grads,assignment_num_and_student_id) "
               "VALUES ( %s, %s, %s, %s)")

myresult = mycursor.fetchall()

for studentId in myresult:
  for assignment in assignment_num:
    assignment_grads=random.randint(56,100)
    key_table=str(assignment)+str(studentId[0])
    data_student=(studentId[0],assignment,assignment_grads,key_table)
    mycursor.execute(add_student_assignment, data_student)
mydb.commit()

In [ ]:
# 10. Create a program that INSERTS the average of  the grades INTO the students TABLE.
# 11. Ensure that your DB is populated with the correct data. 
query="SELECT student_id , avg(assignment_grads) from student_grades group by student_id"
mycursor.execute(query)
myresult = mycursor.fetchall()


for id, avg in myresult:
    sql = "UPDATE students SET avg_grade = %s  WHERE id = %s"
    val = (avg, id)
    mycursor.execute(sql, val)
mydb.commit()

In [ ]:
#Always a good practice to close the connection
mydb.close()