Anonymous Function = Lambda Expression

In [2]:
g=lambda x:3*x+1

g(2)

7

In [12]:
full_name=lambda fn, ln: fn.strip().title() +" "+ ln.strip().title()

In [13]:
full_name(" mustapha ", " bouchaqour")

'Mustapha Bouchaqour'

lambda x:3*x+1
lambda x,y,z:3/(1/x+1/y+1/z)

In [22]:
the_list=["Isaa Asimov", "Lay Bonus", "Amus Amush"]

In [23]:
the_list.sort(key=lambda name: name.split(" ")[-1].lower())
the_list

['Amus Amush', 'Isaa Asimov', 'Lay Bonus']

In [25]:
number_list=[12,456,65,23,55,67]

even_list=[]

In [24]:
import random

In [30]:
names=["Isaa","Asimov", "Lay", "Bonus", "Amus" ,"Amush","Mustapha","Nancy","Dialo","Chris"]

In [35]:
# x=random.randint(0,len(names))
random.shuffle(names)
names

['Bonus',
 'Lay',
 'Dialo',
 'Nancy',
 'Isaa',
 'Asimov',
 'Amush',
 'Chris',
 'Mustapha',
 'Amus']

In [36]:
random.choice(names)

'Isaa'

In [48]:
# g_shuffle=lambda x: random.shuffle(x)
# g_choice=lambda x: random.choice(x)

# # names

TypeError: 'NoneType' object is not iterable

In [38]:
names[::2]

['Bonus', 'Dialo', 'Isaa', 'Amush', 'Mustapha']

In [208]:
data = ['Digonto Barua', 'Dylan K. Picart', 'Alejandro Ibarra', 'Ann Lee', 'Antone Smith',
          'Burnaur James', 'Chris Lee', 'Cornel Duhaney', 'Dealo Mckellar', 'Edward Torres',
          'Hiwot W.', 'Ibrahim Diallo', 'J Mata', 'Joselyn Guzman', 'Kamili',
          'Linqing Zhu', 'Mohammed Fahmid Chowdhury', 'Muees Adewunmi', 'Mustapha Bouchaqour', 'Raliat Akesode',
          'Shifra G.', 'Sonali Shintre', 'Sudipta Sil','daiyan']

In [209]:
random.shuffle(data)

In [210]:
deleted_names=[]

In [211]:
def get_random(NumberofNames):
    global deleted_names, data
    if len(deleted_names)==len(data):
        print("You used all data")
    else:
        set_list_1=set()
        while len(set_list_1)<NumberofNames:
            name=random.choice(data)
            if name not in deleted_names:
                deleted_names.append(name)
                set_list_1.add(name)
        return list(set_list_1)

In [212]:

t1=get_random(3)
# t2=get_random()
# t3=get_random()
# t4=get_random()
t1

['Hiwot W.', 'Sonali Shintre', 'Raliat Akesode']

In [204]:
deleted_names

['Mustapha Bouchaqour',
 'daiyan',
 'Antone Smith',
 'Burnaur James',
 'Ann Lee',
 'Edward Torres',
 'Dealo Mckellar',
 'Kamili',
 'Muees Adewunmi',
 'Shifra G.',
 'Digonto Barua',
 'Chris Lee',
 'Ibrahim Diallo',
 'Dylan K. Picart',
 'Joselyn Guzman',
 'J Mata',
 'Sonali Shintre',
 'Mohammed Fahmid Chowdhury',
 'Sudipta Sil',
 'Cornel Duhaney',
 'Linqing Zhu',
 'Alejandro Ibarra',
 'Raliat Akesode',
 'Hiwot W.']

In [128]:
x=(1,2,3,5)
list(x)

[1, 2, 3, 5]

In [ ]:
#gloabl removing list
# global rs=[]

In [112]:
# returning a random name
def create_list(a):
#     global rs
    name=random.choice(a)     
    a.remove(name)  
    return name

In [114]:
# returning 6 random names
def fillOutTheList(copyData):
    if len(copyDate)==0: return -1
    counter =1
    empty=[]
    while counter<7:
        name=create_list(copyData)
        if name not in first_list:
            empty.append(name)
            counter +=1
    return empty

In [115]:
#creating duplicate of data
copyData=data
copyData

['Digonto Barua',
 'Dylan K. Picart',
 'Alejandro Ibarra',
 'Ann Lee',
 'Antone Smith',
 'Burnaur James',
 'Chris Lee',
 'Cornel Duhaney',
 'Dealo Mckellar',
 'Edward Torres',
 'Hiwot W.',
 'Ibrahim Diallo',
 'J Mata',
 'Joselyn Guzman',
 'Kamili',
 'Linqing Zhu',
 'Mohammed Fahmid Chowdhury',
 'Muees Adewunmi',
 'Mustapha Bouchaqour',
 'Raliat Akesode',
 'Shifra G.',
 'Sonali Shintre',
 'Sudipta Sil',
 'daiyan']

In [116]:

first_list=fillOutTheList(copyData)
second_list=fillOutTheList(copyData)
third_list=fillOutTheList(copyData)
fourth_list=fillOutTheList(copyData)
first_list

NameError: name 'copyDate' is not defined

In [82]:
# determining the captain for team 1
team1_cap=random.choice(first_list)
team1_cap

'Hiwot W.'

In [72]:
second_list

['Chris Lee',
 'Joselyn Guzman',
 'Ibrahim Diallo',
 'Dealo Mckellar',
 'Alejandro Ibarra',
 'Sonali Shintre']

In [ ]:
# determining the captain for team 2
team2_cap=random.choice(second_list)
team2_cap

In [73]:
third_list

['Mohammed Fahmid Chowdhury',
 'Digonto Barua',
 'daiyan',
 'Ann Lee',
 'Antone Smith',
 'Edward Torres']

In [ ]:
# determining the captain for team 3
team3_cap=random.choice(third_list)
team3_cap

In [74]:
fourth_list

['Mustapha Bouchaqour',
 'Raliat Akesode',
 'Sudipta Sil',
 'Shifra G.',
 'Linqing Zhu',
 'J Mata']

In [ ]:
# determining the captain for team 4
team4_cap=random.choice(fourth_list)
team4_cap

In [ ]:
# For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, 
#which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

#Roman numerals are usually written largest to smallest from left to right. 
#However, the numeral for four is not IIII. Instead, the number four is written as IV. 
#Because the one is before the five we subtract it making four. The same principle 
#applies to the number nine, which is written as IX. There are six instances where subtraction is used:

# I can be placed before V (5) and X (10) to make 4 and 9. 
# X can be placed before L (50) and C (100) to make 40 and 90. 
# C can be placed before D (500) and M (1000) to make 400 and 900.

In [261]:
symbol_value={
    "I":1,
    "V":5,
    "X":10,
    "L":50,
    "C":100,
    "D":500,
    "M":1000,
    "IV":4,
    "IX":9,
    "XL":40,
    "XC":90,
    "CD":400,
    "CM":900
}
# MCMXCIV
print(1000-100+1000-10+100-1+5)

1994

In [229]:
# character=list(get_input)
# character

In [245]:
c=0
total=0
get_input=input("Enter your input: ")
if get_input in symbol_value.keys():
    print(symbol_value[get_input])

Enter your input: III

In [247]:
while c < len(get_input)-1:
    if get_input[c]=="I":
        if get_input[c+1] in ["X","V"]:
            total +=symbol_value[get_input[c+1]]-1
            c+=1
            continue
        else:
            total +=1
            c+=1
    elif get_input[c]=="X":
        if get_input[c+1] in ["L","C"]:
            total +=symbol_value[get_input[c+1]]-10
            c+=1
            continue
        else:
            total +=10
            c+=1
    elif get_input[c]=="C":
        if get_input[c+1] in ["D","M"]:
            total +=symbol_value[get_input[c+1]]-100
            c+=1
            continue
        else:
            total +=50
            c+=1
        
print(total)

4

In [248]:
s="MDFDF"
for idx,numeral in enumerate(s):
    print(idx,numeral)

0 M
1 D
2 F
3 D
4 F

In [299]:
roman_dict={
    "I":1,
    "V":5,
    "X":10,
    "L":50,
    "C":100,
    "D":500,
    "M":1000,
    "IV":4,
    "IX":9,
    "XL":40,
    "XC":90,
    "CD":400,
    "CM":900
}

total=0
s="III"
cmpt=0
while cmpt<len(s):
    if cmpt<len(s)-1:
        if roman_dict[s[cmpt]]<roman_dict[s[cmpt+1]]:
            total += roman_dict[s[cmpt+1]]-roman_dict[s[cmpt]]
            cmpt+=2
        else:
            total +=roman_dict[s[cmpt]]
            cmpt +=1
    else:
        total +=roman_dict[s[cmpt]]
        cmpt+=1
        
print(total)

3

In [260]:
s="MCMXCIV"
for numeral in enumerate(s):
    print(" letter = ", numeral)

 letter =  (0, 'M')
 letter =  (1, 'C')
 letter =  (2, 'M')
 letter =  (3, 'X')
 letter =  (4, 'C')
 letter =  (5, 'I')
 letter =  (6, 'V')

In [21]:
class Solution(object):
    def romanToInt(self, s):
        roman_dict={
                "I":1,
                "V":5,
                "X":10,
                "L":50,
                "C":100,
                "D":500,
                "M":1000,
                        }
        total=0
        cmpt=0
        while cmpt<len(s):# go over each letter in s
            if cmpt<len(s)-1:
                if roman_dict[s[cmpt]]<roman_dict[s[cmpt+1]]:
                    total += roman_dict[s[cmpt+1]]-roman_dict[s[cmpt]]
                    cmpt+=2
                else:
                    total +=roman_dict[s[cmpt]]
                    cmpt +=1
            else:
                total +=roman_dict[s[cmpt]]
                cmpt+=1
        return total

In [22]:
p1 = Solution()

In [24]:
p1.romanToInt("MLI")

1051

In [8]:



class Solution2(object):
    def romanToInt(self, s: str) -> int:
        roman_dict = {
            "I" : 1,
            "V" : 5,
            "X" : 10,
            "L" : 50,
            "C" : 100,
            "D" : 500,
            "M" : 1000,
        }
        
        total = 0
        previous_numeral = False
        #"IV"
        for idx,numeral in enumerate(s):
            if previous_numeral and roman_dict[previous_numeral] < roman_dict[numeral]:
                #subtraction
                total += roman_dict[numeral] - (roman_dict[previous_numeral] *2)
            else:
                total += roman_dict[numeral]
            previous_numeral = numeral
        return total

In [9]:
p2=Solution2()
p2.romanToInt("III")

3

In [11]:
x=4
if x:
    print("not empty")
    x=False
if not x:
    print("x is empty")

not empty
x is empty

In [81]:
class Solution(object):
    def isValid(self, s)->bool:
        indexing={
            "(":1,
             ")":-1,
            "[":2,
            "]":-2,
            "{":3,
            "}":-3
        }
        n=len(s)
        if n%2!=0:
            return False
        else:
            stack1=list(s[:n//2])
            stack2=list(s[n//2:])
            return stack2

In [82]:
p=Solution()
string="""()({})"""
p.isValid(string)

['{', '}', ')']

In [ ]:
#  stack=[item for item in s]
#         cond1=stack[-1] in ["(","[","{"]
#         cond2=stack[0] in [")","]","}"]
#         cond3=len(s)%2 !=0
#         if ((cond1)|(cond2)|(cond3)):
#             return False
#         else:
            
#             return stack