In [1]:
import pandas as pd

In [5]:
path='/content/drive/MyDrive/data_colab/samples.csv'

In [23]:
samples=pd.read_csv(path)
samples.head()

      education  sample_1_a  sample_1_b  ...  sample_5_c  sample_5_d  sample_5_e
0     Bachelors        0.21        0.28  ...    0.213038    0.208852    0.205383
1       HS-grad        0.45        0.34  ...    0.421292    0.419498    0.422727
2  Some-college        0.29        0.34  ...     0.28756    0.297727    0.292344
3     Bachelors        0.26        0.28  ...        0.22    0.210000    0.210000
4       HS-grad         NaN        0.31  ...    0.321129    0.328876    0.321129

[5 rows x 26 columns]

In [24]:
samples.shape

(27, 26)

In [26]:
samples.dtypes

education      object
sample_1_a    float64
sample_1_b    float64
sample_1_c    float64
sample_1_d    float64
sample_1_e    float64
sample_2_a    float64
sample_2_b    float64
sample_2_c    float64
sample_2_d    float64
sample_2_e    float64
sample_3_a    float64
sample_3_b    float64
sample_3_c    float64
sample_3_d    float64
sample_3_e    float64
sample_4_a    float64
sample_4_b    float64
sample_4_c    float64
sample_4_d    float64
sample_4_e    float64
sample_5_a    float64
sample_5_b    float64
sample_5_c     object
sample_5_d    float64
sample_5_e    float64
dtype: object

In [28]:
# samples['sample_5_c'] = pd.to_numeric(samples['sample_5_c'])

In [29]:
samples.isnull().sum()

education     0
sample_1_a    3
sample_1_b    3
sample_1_c    0
sample_1_d    0
sample_1_e    0
sample_2_a    2
sample_2_b    0
sample_2_c    0
sample_2_d    3
sample_2_e    0
sample_3_a    0
sample_3_b    2
sample_3_c    0
sample_3_d    0
sample_3_e    0
sample_4_a    2
sample_4_b    0
sample_4_c    1
sample_4_d    3
sample_4_e    1
sample_5_a    0
sample_5_b    3
sample_5_c    0
sample_5_d    0
sample_5_e    2
dtype: int64

In [30]:
eudcation_type=list(samples['education'].unique())
eudcation_type

['Bachelors', 'HS-grad', 'Some-college', 'Prof-school', 'Assoc-voc', 'Masters']

In [31]:
def dataframe_type(edc_type):
  cond=samples['education']==edc_type
  return samples[cond]

In [32]:
dataframe_type('Some-college')

       education  sample_1_a  sample_1_b  ...  sample_5_c  sample_5_d  sample_5_e
2   Some-college        0.29        0.34  ...     0.28756    0.297727    0.292344
6   Some-college        0.41         NaN  ...         ,03    0.020000    0.030000
8   Some-college        0.21        0.24  ...    0.219681    0.224200    0.223278
12  Some-college        0.25        0.21  ...    0.221045    0.219110    0.226113

[4 rows x 26 columns]

In [21]:
col=list(samples.columns)
col.pop(0)
col

['sample_1_a',
 'sample_1_b',
 'sample_1_c',
 'sample_1_d',
 'sample_1_e',
 'sample_2_a',
 'sample_2_b',
 'sample_2_c',
 'sample_2_d',
 'sample_2_e',
 'sample_3_a',
 'sample_3_b',
 'sample_3_c',
 'sample_3_d',
 'sample_3_e',
 'sample_4_a',
 'sample_4_b',
 'sample_4_c',
 'sample_4_d',
 'sample_4_e',
 'sample_5_a',
 'sample_5_b',
 'sample_5_c',
 'sample_5_d',
 'sample_5_e']

In [33]:

for item in col:
  samples[item].fillna((0), inplace=True)

In [34]:
samples.isnull().sum()

education     0
sample_1_a    0
sample_1_b    0
sample_1_c    0
sample_1_d    0
sample_1_e    0
sample_2_a    0
sample_2_b    0
sample_2_c    0
sample_2_d    0
sample_2_e    0
sample_3_a    0
sample_3_b    0
sample_3_c    0
sample_3_d    0
sample_3_e    0
sample_4_a    0
sample_4_b    0
sample_4_c    0
sample_4_d    0
sample_4_e    0
sample_5_a    0
sample_5_b    0
sample_5_c    0
sample_5_d    0
sample_5_e    0
dtype: int64

In [35]:
samples.dtypes

education      object
sample_1_a    float64
sample_1_b    float64
sample_1_c    float64
sample_1_d    float64
sample_1_e    float64
sample_2_a    float64
sample_2_b    float64
sample_2_c    float64
sample_2_d    float64
sample_2_e    float64
sample_3_a    float64
sample_3_b    float64
sample_3_c    float64
sample_3_d    float64
sample_3_e    float64
sample_4_a    float64
sample_4_b    float64
sample_4_c    float64
sample_4_d    float64
sample_4_e    float64
sample_5_a    float64
sample_5_b    float64
sample_5_c     object
sample_5_d    float64
sample_5_e    float64
dtype: object

In [40]:

samples['sample_5_c'][6]=samples['sample_5_c'][6].strip(",")
samples['sample_5_c'][6]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'03'

In [41]:
samples['sample_5_c'] = pd.to_numeric(samples['sample_5_c'])

In [42]:
for item in col:
  samples[item].fillna((samples[item].median()), inplace=True)

In [ ]:
# sub2['income'].fillna((sub2['income'].mean()), inplace=True)

In [43]:
samples.isnull().sum()

education     0
sample_1_a    0
sample_1_b    0
sample_1_c    0
sample_1_d    0
sample_1_e    0
sample_2_a    0
sample_2_b    0
sample_2_c    0
sample_2_d    0
sample_2_e    0
sample_3_a    0
sample_3_b    0
sample_3_c    0
sample_3_d    0
sample_3_e    0
sample_4_a    0
sample_4_b    0
sample_4_c    0
sample_4_d    0
sample_4_e    0
sample_5_a    0
sample_5_b    0
sample_5_c    0
sample_5_d    0
sample_5_e    0
dtype: int64