In [2]:
from google.colab import files
uploaded=files.upload()

In [6]:
path="/content/drive/MyDrive/data_colab/flag.data"

In [4]:
import pandas as pd

In [82]:
flag_data=pd.read_csv(path)
flag_data.head(4)

      Afghanistan  5  1   648  16  10  ...  0.8  1.7  0.9  0.10  black  green.1
0         Albania  3  1    29   3   6  ...    0    0    1     0    red      red
1         Algeria  4  1  2388  20   8  ...    0    0    0     0  green    white
2  American-Samoa  6  3     0   0   1  ...    1    1    1     0   blue      red
3         Andorra  3  1     0   0   6  ...    0    0    0     0   blue      red

[4 rows x 30 columns]

In [83]:
cols = ['name', 'landmass', 'zone', 'area', 'population',
        'language', 'religion', 'bars', 'stripes', 'colours',
        'red', 'green', 'blue', 'gold', 'white',
        'black', 'orange', 'mainhue', 'circles', 'crosses',
        'saltires', 'quarters', 'sunstars', 'crescent', 'triangle',
        'icon', 'animate', 'text', 'topleft', 'botright']
original=list(flag_data.columns)


df2=dict(zip(cols,original))
# flag_data.columns=cols

record=pd.DataFrame.from_dict(df2,orient='index')

In [84]:
record=record.T
record

          name landmass zone area  ... animate  text topleft botright
0  Afghanistan        5    1  648  ...     0.9  0.10   black  green.1

[1 rows x 30 columns]

In [85]:
flag_data.columns=cols

In [86]:
flag_data = flag_data.append(record.loc[0])

In [87]:
flag_data

               name landmass zone  area  ... animate  text topleft botright
0           Albania        3    1    29  ...       1     0     red      red
1           Algeria        4    1  2388  ...       0     0   green    white
2    American-Samoa        6    3     0  ...       1     0    blue      red
3           Andorra        3    1     0  ...       0     0    blue      red
4            Angola        4    2  1247  ...       0     0     red    black
..              ...      ...  ...   ...  ...     ...   ...     ...      ...
189      Yugoslavia        3    1   256  ...       0     0    blue      red
190           Zaire        4    2   905  ...       1     0   green    green
191          Zambia        4    2   753  ...       1     0   green    brown
192        Zimbabwe        4    2   391  ...       1     0   green    green
0       Afghanistan        5    1   648  ...     0.9  0.10   black  green.1

[194 rows x 30 columns]

In [88]:
flag_data.shape

(194, 30)

In [91]:
flag_data.dtypes

name          object
landmass      object
zone          object
area          object
population    object
language      object
religion      object
bars          object
stripes       object
colours       object
red           object
green         object
blue          object
gold          object
white         object
black         object
orange        object
mainhue       object
circles       object
crosses       object
saltires      object
quarters      object
sunstars      object
crescent      object
triangle      object
icon          object
animate       object
text          object
topleft       object
botright      object
dtype: object

In [90]:
flag_data.describe()

           name  landmass  zone  area  ...  animate  text  topleft  botright
count       194       194   194   194  ...      194   194      194       194
unique      194         7     5   136  ...        3     3        7         9
top     Finland         4     1     0  ...        0     0      red       red
freq          1        52    90    34  ...      154   177       56        69

[4 rows x 30 columns]

In [96]:
flag_data.crescent.value_counts()

0      182
1       11
0.7      1
Name: crescent, dtype: int64

In [98]:
flag_data.red.value_counts(normalize=True)

1      0.783505
0      0.211340
1.1    0.005155
Name: red, dtype: float64

In [105]:
cond = flag_data.groupby('mainhue').count()
cond['name']

mainhue
black      5
blue      40
brown      2
gold      19
green     31
orange     4
red       71
white     22
Name: name, dtype: int64

In [109]:
flag_data.isnull().sum()

name          0
landmass      0
zone          0
area          0
population    0
language      0
religion      0
bars          0
stripes       0
colours       0
red           0
green         0
blue          0
gold          0
white         0
black         0
orange        0
mainhue       0
circles       0
crosses       0
saltires      0
quarters      0
sunstars      0
crescent      0
triangle      0
icon          0
animate       0
text          0
topleft       0
botright      0
dtype: int64

In [111]:
ccl=["stripes","bars"]
flag_data[ccl].sample(10)

    stripes bars
164       0    0
30        0    2
84        0    3
188       0    0
72        0    3
11        3    0
91        0    0
18        0    0
51        3    0
172       0    0

In [214]:
df_adult=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')
df_adult

       39          State-gov   77516  ...  40   United-States   <=50K
0      50   Self-emp-not-inc   83311  ...  13   United-States   <=50K
1      38            Private  215646  ...  40   United-States   <=50K
2      53            Private  234721  ...  40   United-States   <=50K
3      28            Private  338409  ...  40            Cuba   <=50K
4      37            Private  284582  ...  40   United-States   <=50K
...    ..                ...     ...  ...  ..             ...     ...
32555  27            Private  257302  ...  38   United-States   <=50K
32556  40            Private  154374  ...  40   United-States    >50K
32557  58            Private  151910  ...  40   United-States   <=50K
32558  22            Private  201490  ...  20   United-States   <=50K
32559  52       Self-emp-inc  287927  ...  40   United-States    >50K

[32560 rows x 15 columns]

In [215]:
cols = ['num1','State-gov','num2','diploma','num3','status','profession','family-status','color','sex','num4','num5','num6' ,'Country','wage']
original=list(flag_data.columns)


df2=dict(zip(cols,original))
record=pd.DataFrame.from_dict(df2,orient='index')
record=record.T
df_adult.columns=cols
df_adult = df_adult.append(record.loc[0])
df_adult

       num1          State-gov    num2  ...  num6         Country    wage
0        50   Self-emp-not-inc   83311  ...    13   United-States   <=50K
1        38            Private  215646  ...    40   United-States   <=50K
2        53            Private  234721  ...    40   United-States   <=50K
3        28            Private  338409  ...    40            Cuba   <=50K
4        37            Private  284582  ...    40   United-States   <=50K
...     ...                ...     ...  ...   ...             ...     ...
32556    40            Private  154374  ...    40   United-States    >50K
32557    58            Private  151910  ...    40   United-States   <=50K
32558    22            Private  201490  ...    20   United-States   <=50K
32559    52       Self-emp-inc  287927  ...    40   United-States    >50K
0      name           landmass    zone  ...  blue            gold   white

[32561 rows x 15 columns]

In [216]:
df_adult.isnull().sum()

num1             0
State-gov        0
num2             0
diploma          0
num3             0
status           0
profession       0
family-status    0
color            0
sex              0
num4             0
num5             0
num6             0
Country          0
wage             0
dtype: int64

In [217]:
df_adult.duplicated().sum()

24

In [218]:
#We can drop duplicate
df_adult.drop_duplicates(inplace=True)

In [219]:
df_adult.dtypes

num1             object
State-gov        object
num2             object
diploma          object
num3             object
status           object
profession       object
family-status    object
color            object
sex              object
num4             object
num5             object
num6             object
Country          object
wage             object
dtype: object

In [220]:
dip=df_adult['diploma'].unique()
dip

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th', 'area'], dtype=object)

In [221]:
target_dip=['HS-grad','Bachelors','Some-college','Assoc-voc','Prof-school']

In [226]:
def fixing_column_diploma(x):
  if 'HS-grad' in x.strip():
    return 'HS-grad'
  elif 'Bachelors' in x.strip():
    return 'Bachelors'
  if 'Some-college' in x.strip():
    return 'Some-college'
  if 'Assoc-voc' in x.strip():
    return 'Assoc-voc'
  if 'Prof-school' in x.strip():
    return 'Prof-school'

In [227]:
df_adult['diploma']=df_adult['diploma'].apply(fixing_column_diploma)
df_adult

       num1          State-gov    num2  ...  num6         Country    wage
0        50   Self-emp-not-inc   83311  ...    13   United-States   <=50K
1        38            Private  215646  ...    40   United-States   <=50K
2        53            Private  234721  ...    40   United-States   <=50K
3        28            Private  338409  ...    40            Cuba   <=50K
4        37            Private  284582  ...    40   United-States   <=50K
...     ...                ...     ...  ...   ...             ...     ...
32556    40            Private  154374  ...    40   United-States    >50K
32557    58            Private  151910  ...    40   United-States   <=50K
32558    22            Private  201490  ...    20   United-States   <=50K
32559    52       Self-emp-inc  287927  ...    40   United-States    >50K
0      name           landmass    zone  ...  blue            gold   white

[32537 rows x 15 columns]

In [228]:
dip=df_adult['diploma'].unique()
dip

array(['Bachelors', 'HS-grad', None, 'Some-college', 'Assoc-voc',
       'Prof-school'], dtype=object)

In [229]:
def get_sample(filterby,freq_sample,data=df_adult):
  mysample= data[filterby].sample(freq_sample)
  return mysample

In [251]:
sample_1_for_100=get_sample("diploma",100).value_counts(normalize=True).round(2)

In [252]:
sample_1_for_100

HS-grad         0.41
Some-college    0.27
Bachelors       0.23
Assoc-voc       0.05
Prof-school     0.04
Name: diploma, dtype: float64

In [253]:
sample_2_for_100=get_sample("diploma",1000).value_counts(normalize=True).round(2)
sample_2_for_100

HS-grad         0.40
Some-college    0.30
Bachelors       0.22
Assoc-voc       0.06
Prof-school     0.02
Name: diploma, dtype: float64

In [254]:
sample_3_for_100=get_sample("diploma",1000).value_counts(normalize=True).round(2)
sample_3_for_100

HS-grad         0.42
Some-college    0.27
Bachelors       0.23
Assoc-voc       0.05
Prof-school     0.02
Name: diploma, dtype: float64

In [255]:
sample_4_for_100=get_sample("diploma",1000).value_counts(normalize=True).round(2)
sample_4_for_100

HS-grad         0.42
Some-college    0.31
Bachelors       0.19
Assoc-voc       0.06
Prof-school     0.02
Name: diploma, dtype: float64

In [256]:
sample_5_for_100=get_sample("diploma",100).value_counts(normalize=True).round(2)
sample_5_for_100

HS-grad         0.43
Some-college    0.25
Bachelors       0.22
Assoc-voc       0.06
Prof-school     0.04
Name: diploma, dtype: float64

In [247]:
# sample_1_for_100.to_excel(r'Path to store the exported excel file\File Name.xlsx',index=False)

In [257]:
def get_sample(filterby,freq_sample,data=df_adult):
  mysample= data[filterby].sample(frac=freq_sample)
  return mysample

In [277]:
freq=0.1

In [278]:
sample_1=get_sample("diploma",freq).value_counts(normalize=True).round(2)
sample_1

HS-grad         0.43
Some-college    0.28
Bachelors       0.21
Assoc-voc       0.06
Prof-school     0.03
Name: diploma, dtype: float64

In [279]:
sample_2=get_sample("diploma",freq).value_counts(normalize=True).round(2)
sample_2

HS-grad         0.40
Some-college    0.29
Bachelors       0.23
Assoc-voc       0.06
Prof-school     0.03
Name: diploma, dtype: float64

In [280]:
sample_3=get_sample("diploma",freq).value_counts(normalize=True).round(2)
sample_3

HS-grad         0.39
Some-college    0.31
Bachelors       0.21
Assoc-voc       0.07
Prof-school     0.02
Name: diploma, dtype: float64

In [281]:
sample_4=get_sample("diploma",freq).value_counts(normalize=True).round(2)
sample_4

HS-grad         0.41
Some-college    0.29
Bachelors       0.21
Assoc-voc       0.06
Prof-school     0.02
Name: diploma, dtype: float64

In [282]:
sample_5=get_sample("diploma",freq).value_counts(normalize=True).round(2)
sample_5

HS-grad         0.41
Some-college    0.29
Bachelors       0.22
Assoc-voc       0.06
Prof-school     0.02
Name: diploma, dtype: float64